@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueCyr-Thin.eot');
    src: url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Thin.woff') format('woff'),
    url('HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueCyr-Light.eot');
    src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Light.woff') format('woff'),
    url('HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeueCyr-Roman.eot');
    src: url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman.woff') format('woff'),
    url('HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }       
@font-face {
    font-family: 'Helvetica Neue';
    src:url('HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Helvetica Neue Bold';
    src:url('HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif'), local('DroidSerif'), url('droidserif.woff2') format('woff2'), url('droidserif.woff') format('woff'), url('droidserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('droidserifitalic.woff2') format('woff2'), url('droidserifitalic.woff') format('woff'), url('droidserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('droidserifbold.woff2') format('woff2'), url('droidserifbold.woff') format('woff'), url('droidserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Serif';
    src: local('Droid Serif Bold Italic'), local('DroidSerif-BoldItalic'), url('droidserifbolditalic.woff2') format('woff2'), url('droidserifbolditalic.woff') format('woff'), url('droidserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.woff2') format('woff2'),
        url('Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.woff2') format('woff2'),
        url('Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.woff2') format('woff2'),
        url('Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
        url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.woff2') format('woff2'),
        url('Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.woff2') format('woff2'),
        url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('Dosis-ExtraBold.woff2') format('woff2'),
        url('Dosis-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('Dosis-SemiBold.woff2') format('woff2'),
        url('Dosis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('Dosis-Bold.woff2') format('woff2'),
        url('Dosis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('Dosis-Light.woff2') format('woff2'),
        url('Dosis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('Dosis-Regular.woff2') format('woff2'),
        url('Dosis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('Dosis-ExtraLight.woff2') format('woff2'),
        url('Dosis-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('Dosis-Medium.woff2') format('woff2'),
        url('Dosis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

